<div
  class="o-ads o-ads--center o-ads--background o-ads--reserve-250"
  data-o-ads-name="mid-ad"
  data-o-ads-targeting="pos=mid;"
  data-o-ads-formats-default="Responsive"
  data-o-ads-formats-small="MediumRectangle,Responsive"
  data-o-ads-formats-medium="MediumRectangle,Responsive"
  data-o-ads-formats-large="MediumRectangle,Responsive"
  data-o-ads-formats-extra="MediumRectangle,Responsive"
  aria-hidden="true"></div>
