{{#>wideArticle @this}}

{{#*inline 'articleContent'}}

<div style="background: blue; text-align: center; color: white; font: bold 40px MetricWeb; padding: 20px 0;">
  WIDE CONTENT
</div>

<h1>Comments</h1>
<div class="o-grid-container comments-container">
  <div class="o-grid-row">
    <div data-o-grid-colspan="12 L8 XLoffset1">
      {{> comments}}
    </div>
  </div>
</div>

{{/inline}}

{{/wideArticle}}
