<footer id="site-footer" class="o-footer o-footer--theme-dark" data-o-component="o-footer">
	<div class="o-footer__container">

		<div class="o-footer__row">
			<nav class="o-footer__matrix" role="navigation" aria-label="Useful links">
				{% for item in nav.menus.footer.items %}
				{% if item.submenu %}
				<div class="o-footer__matrix-group o-footer__matrix-group--{{item.submenu.items.length}}">
					<div class="o-footer__matrix-title"{% if item.submenu.items.length === 2 %} aria-controls="o-footer-section-{{loop.index0}}"{% endif %}>
					{{ item.label }}
					</div>
					<div class="o-footer__matrix-content" id="o-footer-section-{{loop.index0}}">
						{% for subItem in item.submenu.items %}
						<div class="o-footer__matrix-column">
							{% for subsubItem in subItem %}
							<a class="o-footer__matrix-link" href="{{subsubItem.url}}" data-trackable="{{subsubItem.label}}"{% if subsubItem.disableTracking %} data-o-tracking-do-not-track="true"{% endif %}>{{ subsubItem.label }}</a>
							{% endfor %}
						</div>
						{% endfor %}
					</div>
				</div>
				{% endif %}
				{% endfor %}
			</nav>

			<div class="o-footer__external-link o-footer__matrix-title">
				<a class="o-footer__more-from-ft o-footer__matrix-title" href="http://ft.com/more-from-ft-group">More from the FT Group</a>
			</div>
		</div>

		<div class="o-footer__copyright" role="contentinfo">
			<small>
				Markets data delayed by at least 15 minutes.&ensp;&copy; THE FINANCIAL TIMES LTD 2017.&ensp;<abbr title="Financial Times" aria-label="F T">FT</abbr> and ‘Financial Times’ are trademarks of The Financial Times Ltd.<br>The Financial Times and its journalism are subject to a self-regulation regime under the <a href="http://www.ft.com/editorialcode" aria-label="F T Editorial Code of Practice">FT Editorial Code of Practice</a>.
			</small>
		</div>

	</div>
	<div class="o-footer__brand">
		<div class="o-footer__container">
			<div class="o-footer__brand-logo"></div>
		</div>
	</div>
</footer>
