<!doctype html>
{{!-- Adding o-typography--loaded-* classes to work around undocumented behaviour in n-ui-foundations --}}

  <head>
    {{#> headEnd}}{{/headEnd}}
  </head>
  <body>
    {{> @partial-block }}
  </body>
</html>
