<!doctype html>
{{>htmlTag}}
<head>
{{> htmlHead criticalCSS='styles/regular-article.css' bootJS='client/boot.main.js'}}
</head>

<body>
  {{#> bodyStart}}{{/bodyStart}}
  
  {{#if ads}}
  {{#> topAdSlot}}{{> leaderboardAd }}{{/topAdSlot}}
  {{/if}}

  {{> pageHeader}}
  <main role="main">
    <article class="graphics-article">

      <header class="graphics-article__topper">
        <div class="o-grid-container">
          <div class="o-grid-row">

            <div class="graphics-article__header" data-o-grid-colspan="12 L8 XL7 XLoffset1">
              {{#> articleHeader}}
              {{> defaultArticleHeader}}
              {{/articleHeader}}
            </div>

            {{! TODO get the following working in HBS syntax }}
            {{!-- {% block headerAside %}
            {% if readNext %}
            <aside class="graphics-article__aside" data-o-grid-colspan="hide L4 XL3 XLoffset1">
              {% if readNext.kicker %}
              <div class="standalone-teaser-heading">{{ readNext.kicker }}</div>
              {% endif %}

              <div class="o-teaser o-teaser--opinion o-teaser--article o-teaser--verify-syndicatable" data-o-component="o-teaser" data-trackable="teaser">
                <div class="o-teaser__content">
                  {% if readNext.topic %}
                  <div class="o-teaser__meta">
                    <a href="{{ readNext.topic.url | resolveURL }}" class="o-teaser__tag" data-trackable="primary-tag">
                      <span>Kevin Rudd</span>
                    </a>
                  </div>
                  {% endif %}

                  <div class="o-teaser__heading js-teaser-heading">
                    <a href="{{ readNext.url | resolveURL }}" class="js-teaser-heading-link" data-trackable="main-link">
                    {{ readNext.headline }}
                  </a>
                  </div>
                </div>
              </div>

  					</aside>
            {% endif %}
            {% endblock %} --}}

          </div>
        </div>
      </header>

      <div class="graphics-article__content">
        <div class="o-grid-container">
          <div class="o-grid-row">
            <div data-o-grid-colspan="12 L8 XL7 XLoffset1">
              {{#with leadImage}}
              {{>contentImage}}
              {{/with}}

              <div class="graphics-article__share-bar" data-trackable="share | top">
              {{>shareLinks}}
              </div>

              {{>articleMeta}}

              <div class="graphics-article__content-body">
                {{#> articleContent}}{{/articleContent}}
              </div>

              <footer class="n-content-copyright">
                <small><a href="http://help.ft.com/help/legal-privacy/copyright/copyright-policy/" data-trackable="link-copyright">Copyright</a> The Financial Times Limited 2017. All rights reserved. You may share using our article tools. Please don't cut articles from FT.com and redistribute by email or post to the web.</small>
              </footer>

              <div class="graphics-article__share-bar graphics-article__share-bar--bottom" data-trackable="share | bottom">
              {{>shareLinks}}
              </div>
            </div>

            <aside class="graphics-article__aside" data-o-grid-colspan="hide L4 XL3 XLoffset1">
              {{#>articleAside}}
              {{/articleAside}}
            </aside>
          </div>
        </div>
      </div>
    </article>
  </main>

  <div class="o-grid-container comments-container">
    <div class="o-grid-row">
      <div data-o-grid-colspan="12 L8 XLoffset1">
        {{> comments}}
      </div>
    </div>
  </div>

{{!-- TODO onward journey etc --}}

{{> pageFooter }}

{{#if ads}}
<link rel="stylesheet" href="https://build.origami.ft.com/v2/bundles/css?modules=o-ads@^6.2.1" />
<script async src="https://build.origami.ft.com/v2/bundles/js?export=oAds&modules=o-ads@^6.2.1"></script>
{{/if}}

{{#> bodyEnd}}{{/bodyEnd}}
</body>
</html>
