<!doctype html>
{{>htmlTag}}
<head>
{{> htmlHead criticalCSS='styles/wide-article.css' bootJS='client/boot.main.js'}}
</head>

<body>
  {{#> bodyStart}}{{/bodyStart}}

  {{> pageHeader}}
  <main role="main">
    <article class="graphics-article">
      <div class="graphics-article__content">
        {{#> articleContent}}{{/articleContent}}
      </div>
    </article>
  </main>

{{> pageFooter }}

{{#> bodyEnd}}{{/bodyEnd}}
</body>
</html>
