<!doctype html>
{{>htmlTag}}
<head>
{{> htmlHead criticalCSS='styles/wide-article.css' bootJS='client/boot.main.js'}}
</head>

<body>
  {{#> bodyStart}}{{/bodyStart}}

  {{> pageHeader}}
  <main role="main">
    <article class="graphics-article">
      <div class="graphics-article__content">
        {{#> articleContent}}{{/articleContent}}
      </div>
    </article>
  </main>

  <div class="o-grid-container comments-container">
    <div class="o-grid-row">
      <div data-o-grid-colspan="12 L8 XLoffset1">
        {{> comments}}
      </div>
    </div>
  </div>

{{!-- TODO onward journey etc --}}
{{> pageFooter }}

{{#> bodyEnd}}{{/bodyEnd}}
</body>
</html>
