<div>
  <a href="{{ topic.url }}" class="o-typography-link-topic">{{ topic.name }}</a>
</div>

<h1 class="o-typography-heading1" itemprop="headline">{{ headline | inlineMarkdown | safe }}</h1>

<p class="o-typography-lead">
  {{ standfirst | inlineMarkdown | safe }}
</p>

{% if publishedDate %}
<meta itemprop="dateModified" content="{{ publishedDate | isoDate }}">
{% endif %}
