{% if leadImage %}
<figure class="graphics-article__lead-image" alt="{{ leadImage.alt }}">
  <div{% if leadImage.ratio %} style="padding-bottom: {{ 100 / leadImage.ratio }}%"{% endif %}>
    <img
      alt="{{ leadImage.alt }}"
      srcset="{{ leadImage.url | imageServiceSrcset([700, 620]) }}"
      sizes="(min-width: 76.25em) 700px, (min-width: 61.25em) 620px, (min-width: 46.25em) 700px, calc(100vw - 20px)">
  </div>
  <figcaption>An image of a previous North Korean missile launch released by state news agency KCNA © EPA</figcaption>
</figure>
{% endif %}
