<div data-o-component="o-share" class="o-share" data-o-share--js="">
	<ul>
		<li class="o-share__action o-share__action--twitter">
			<a target="_blank" rel="noopener" href="https://twitter.com/intent/tweet?url={{ encodeURIComponent(url) }}&amp;text={{ encodeURIComponent(headline) }}&amp;via=FT" data-trackable="twitter"><i>Share on Twitter (opens new window)</i></a>
		</li>
		<li class="o-share__action o-share__action--facebook">
			<a target="_blank" rel="noopener" href="http://www.facebook.com/sharer.php?u={{ encodeURIComponent(url) }}&amp;t={{ encodeURIComponent(headline) }}" data-trackable="facebook"><i>Share on Facebook (opens new window)</i></a>
		</li>
		<li class="o-share__action o-share__action--linkedin">
			<a target="_blank" rel="noopener" href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ encodeURIComponent(url) }}&amp;title={{ encodeURIComponent(headline) }}&amp;source=Financial+Times" data-trackable="linkedin"><i>Share on LinkedIn (opens new window)</i></a>
		</li>
		<li class="o-share__action o-share__action--whatsapp">
			<a target="_blank" rel="noopener" href="whatsapp://send?text={{ encodeURIComponent(headline) }}%20-%20{{ encodeURIComponent(url) }}" data-trackable="whatsapp"><i>Share on Whatsapp (opens new window)</i></a>
		</li>
		{# NOT YET IMPLEMENTED
    <li class="o-share__action o-share__action--mail">
			<button data-n-article-email-clickable="" data-n-article-email-container="top" data-n-article-email-free-article="false" data-trackable="email">
				<i>Email</i>
			</button>
		</li> #}
	</ul>
</div>

{% if uuid %}
<div class="graphics-article__share-bar__extra">
  <a
    data-o-component="o-comment-count"
		data-o-comment-count-auto-init="false"
		data-o-comment-count-config-article-id="{{ uuid }}"
		data-o-comment-count-config-template="{count}"
		data-o-comment-count-config-aria-label-template="There are {count} comments on this article. Write a comment."
		class="article__share__comments"
		data-trackable="view-comments"
		style="visibility: hidden;"
		href="#comments"></a>
</div>
{% endif %}
