{% macro DrawerParentItem(item, index=0, selected=false) %}
	<div class="o-header__drawer-menu-toggle-wrapper">
		<a class="o-header__drawer-menu-link o-header__drawer-menu-link--parent o-header__drawer-menu-link--{% if selected %}selected{% else %}unselected{% endif %}" href="{{ item.url | resolveURL }}"{% if selected %} aria-label="Current page" aria-selected="true"{% endif %} data-trackable="{{ item.label }}">{{ item.label }}</a>

		<button class="o-header__drawer-menu-toggle o-header__drawer-menu-toggle--{% if selected %}selected{% else %}unselected{% endif %}" aria-controls="o-header-drawer-child-{{ index }}" data-trackable="sub-level-toggle | {{ item.label }}">
			Show more {{ item.label }} links
		</button>
	</div>
	<ul class="o-header__drawer-menu-list o-header__drawer-menu-list--child" id="o-header-drawer-child-{{ index }}" data-trackable="sub-level">
		{% for subItem in item.submenu.items %}
		<li class="o-header__drawer-menu-item">
			<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--{% if subItem.selected %}selected{% else %}unselected{% endif %}" href="{{ subItem.url | resolveURL }}" {% if subItem.selected %}aria-label="Current page" aria-selected="true"{% endif %} data-trackable="{{ subItem.label }}">{{ subItem.label }}</a>
		</li>
		{% endfor %}
	</ul>
{% endmacro %}

{% macro DrawerSingleItem(label, url, index=0, selected=false) %}
  <a class="o-header__drawer-menu-link o-header__drawer-menu-link--{% if selected %}selected{% else %}unselected{% endif %}" href="{{ url | resolveURL }}"{% if selected %} aria-label="Current page" aria-selected="true"{% endif %} data-trackable="{{ label }}">{{ label }}</a>
{% endmacro %}

{% macro DrawerSpecialItem(label, url, index=0, selected=false) %}
  <a class="o-header__drawer-menu-link o-header__drawer-menu-link--secondary o-header__drawer-menu-link--{% if selected %}selected{% else %}unselected{% endif %}" href="{{ url | resolveURL }}"{% if selected %} aria-label="Current page" aria-selected="true"{% endif %} data-trackable="{{ label }}">{{ label }}</a>
{% endmacro %}

<div class="o-header__drawer" id="o-header-drawer" role="navigation" aria-label="Drawer menu" data-o-header-drawer data-o-header-drawer--no-js data-trackable="drawer" data-trackable-terminate>
	<div class="o-header__drawer-inner">

		<div class="o-header__drawer-tools">
			<a class="o-header__drawer-tools-logo" href="http://www.ft.com/" data-trackable="logo">
				<span class="o-header__visually-hidden">Financial Times</span>
			</a>

			<button type="button" class="o-header__drawer-tools-close" aria-controls="o-header-drawer" title="Close drawer menu" data-trackable="close">
				<span class="o-header__visually-hidden">Close</span>
			</button>
		</div>

		<div class="o-header__drawer-search">
			<form class="o-header__drawer-search-form" action="/search" role="search" aria-label="Site search" data-typeahead data-typeahead-categories="tags,equities" data-typeahead-view-all>
				<label class="o-header__visually-hidden" for="o-header-drawer-search-term">Search the <abbr title="Financial Times">FT</abbr></label>
				<input class="o-header__drawer-search-term" id="o-header-drawer-search-term" name="q" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder="Search the FT" data-trackable="search-term" data-typeahead-input>
				<button class="o-header__drawer-search-submit" type="submit" data-trackable="search-submit">
					<span class="o-header__visually-hidden">Search</span>
				</button>
			</form>
		</div>

		<nav class="o-header__drawer-menu o-header__drawer-menu--primary o-header__drawer-homepage">
			<ul class="o-header__drawer-menu-list">
        {% set firstSection = nav.menus['drawer-uk'].items[0] %}
        {% set secondSection = nav.menus['drawer-uk'].items[1] %}
        {% set thirdSection = nav.menus['drawer-uk'].items[2] %}

        <li class="o-header__drawer-menu-item o-header__drawer-menu-item--heading">{{ firstSection.label }}</li>

        {% for item in firstSection.submenu.items %}
        <li class="o-header__drawer-menu-item">
          {% if item.submenu %}
            {{ DrawerParentItem(item, index=loop.index0, selected=false) }}
          {% else %}
            {{ DrawerSingleItem(label=item.label, url=item.url, index=loop.index0, selected=false) }}
          {% endif %}
        </li>
        {% endfor %}

        <li class="o-header__drawer-menu-item o-header__drawer-menu-item--heading">{{ secondSection.label }}</li>
        {% for item in secondSection.submenu.items %}
        <li class="o-header__drawer-menu-item">
          {{ DrawerSingleItem(label=item.label, url=item.url, index=loop.index0, selected=false) }}
        </li>
        {% endfor %}

        {% for item in thirdSection.submenu.items %}
        <li class="o-header__drawer-menu-item{% if loop.first %} o-header__drawer-menu-item--divide{% endif %}">
          {{ DrawerSpecialItem(label=item.label, url=item.url, index=loop.index0, selected=false) }}
        </li>
        {% endfor %}
			</ul>
		</nav>
	</div>
</div>
