{# This is for images in a main content well, which has fixed widths #}
{% macro contentImage(details) %}
<figure class="graphics-article__content-image" alt="{{ details.alt }}">
  <div{% if details.ratio %} style="padding-bottom: {{ (100 / details.ratio) | round(2) }}%"{% endif %}>
    <img
      alt="{{ details.alt }}"
      srcset="{{ details.url | imageServiceSrcset([700, 620]) }}"
      sizes="(min-width: 76.25em) 700px, (min-width: 61.25em) 620px, (min-width: 46.25em) 700px, calc(100vw - 20px)">
  </div>
  {% if details.caption %}<figcaption>{{ details.caption }}</figcaption>{% endif %}
</figure>
{% endmacro %}
