<!doctype html>
<html lang="en-GB" class="core" data-build-time="{{ buildTime | default(now()) | isoDate }}" data-content-id="{{ id if id else test_comments_uuid }}">
  <head>
    {% block headPrepend %}{% endblock -%}

    {% include "../partials/html-head.njk" %}

    {% block headAppend %}{% endblock -%}
  </head>
  <body>
    {% include "../partials/page-header/index.njk" %}

    <main role="main">
      {% block main %}{% endblock %}
    </main>

    {% include "../partials/page-footer/index.njk" %}
  </body>
</html>
