{% set criticalCSS %}{% include '../styles/wide-article.css' %}{% endset %}

{% extends './page.njk' %}

{% block main %}

  {% block articleHeader %}
  {% include '../partials/article-header.njk' %}
  {% endblock %}

  {% block articleBody %}{% endblock %}

{% endblock %}
